.logout-btn {
  margin-top: 22px;
  height: 84px;
  border-radius: 42px;
  font-size: 16px;
  font-weight: 600;
  background: #f6f6f8;
  color: #d14343;
  border: none;
  line-height: 84px;
  padding: 0;
  &::after {
    border: none;
  }
}
