.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  box-sizing: border-box;
}
.nav-bar-body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}
.nav-bar-side {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.nav-bar-side-left {
  justify-content: flex-start;
}
.nav-bar-side-right {
  justify-content: flex-end;
}
.nav-bar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 176px);
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-bar-back {
  width: 40px;
  height: 40px;
  margin-left: -8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-bar-back .icon {
  width: 26px;
  height: 26px;
}
